APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_HOST=127.0.0.1
DB_DATABASE=pensionctb
DB_USERNAME=root
DB_PASSWORD=

MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=example@example.com
MAIL_PASSWORD=secret
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=example@example.com
MAIL_FROM_NAME="Tesorería Colegio"
